<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <label for="ServerName">Name of the server</label>
    <input type="text" (input) = "UpdateName($event)">
    <button class="btn" [disabled] = "!allowServer" (click) = "createServer()">Add server</button>
    <div *ngIf = "ServerBool; else noServer"
        [ngClass] ="{online: ServerBool}"
    >
    <h3 class="created" 
    [ngStyle] ="{backgroundColor: '#90ee90', border: '3px solid green'}"
    >
        {{ServerCreated}}
    </h3>
    </div>
    <ng-template #noServer>
        <h3 [ngStyle]="{ backgroundColor: '#fcaea6', border: '3px solid red'}">No server is Created!</h3>
    </ng-template>
    <div *ngFor = "let server of servers">
        <app-server></app-server>
    </div>
    <app-footers></app-footers>
</body>
</html>
