.input-container{
    margin-top: 2em;
    padding: 1em;
    background-color: lightsalmon;
    border-radius: .5em;
    label{
        font-size: 1.3em;
        margin-right: 1em;
        font-weight: 500;
    }
    input{
        padding: .3em;
        font-size: 1.3em;
        border: none;
        box-shadow: 0px 0px 1px 1.5px rgba(0,0,0,.3);
        outline: none;
        border-radius: .3em;
    }
    h2{
        color: #fff;
        margin-bottom: 2em;
    }
}