.input-container{
    display: flex;
    margin-top: 2em;
    padding: 0em 1em 1em 1em;
    height: 3em;
    background-color: #fff;
    box-shadow: 0px 0px 3px 1px gainsboro;
    border-radius: .5em;
    h2{
        font-weight: 500;
        color: lightseagreen;
    }
    &:hover{
        transition: .4s;
        transform: scale(1.015);
        box-shadow: 0px 0px 10px 1px gainsboro;
    }  
}